<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2025 The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="com.android.frameworks.personalcontexttests">

    <!--
    Insert permissions here. eg:
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    -->
    <uses-permission android:name="android.permission.GET_INTENT_SENDER_INTENT" />
    <!-- CHANGE_PERSONAL_CONTEXT_MODE is a signature permission and must be granted in manifest -->
    <uses-permission android:name="android.permission.CHANGE_PERSONAL_CONTEXT_MODE" />

    <application android:debuggable="true"
                 android:testOnly="true">
        <uses-library android:name="android.test.mock" android:required="true" />
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation android:name="androidx.test.runner.AndroidJUnitRunner"
         android:targetPackage="com.android.frameworks.personalcontexttests"
         android:label="Frameworks Services Tests"/>
</manifest>
